.app-header {
  background-color: var(--clr1);
  color: var(--clr2bg-light);
  padding-block: 1em;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Todos done progress bar */

.todos-done-progress-container {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.todos-done-progress-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todos-done-progress-container h3 {
  margin: 0;
}
.todos-done-progress-container progress {
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}
/* WebKit (Chrome, Edge, Safari) */
.todos-done-progress-container progress::-webkit-progress-bar {
  background-color: #eee; /* Progress bar background color */
  border-radius: 10px;
}
.todos-done-progress-container progress::-webkit-progress-value {
  background-color: lightseagreen; /* Progress bar color */
}

.app-nav {
  display: flex;
  gap: 15px;
}

a.active {
  color: rgb(241, 212, 241);
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 720px) {
  .app-header {
    color: var(--clr2bg-light);
  }
}
